@import "~antd/dist/antd.css";

* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif !important;
}

/* Header */
.ant-layout-header {
  color: white;
  height: 46px;
  line-height: 42px;
  border-bottom: 1px solid gray;
  background-color: #350d36;
  display: flex;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  z-index: 100;
}

.header {
  display: flex;
  align-items: center;
  margin: auto;
}

.ant-select-selection-search .ant-input {
  padding: 0 20px;
  color: gray;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: #350d36;
}

.ant-input:focus,
.ant-input-focused {
  box-shadow: none;
  border: 1px solid white;
}

.header__rightIcon {
  margin-top: -7px !important;
  cursor: pointer;
}
.header__leftIcon {
  margin-top: -7px !important;
  cursor: pointer;
}

/* Sidebar */
.ant-layout-sider {
  background-color: #3f0e40;
  margin-top: 46px;
}
.ant-menu-dark.ant-menu-inline {
  background-color: #3f0e40;
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.sider__header {
  color: white;
  margin: 10px;
  margin-bottom: 15px;
}

.sider__name {
  margin-top: 3px;
}

.ant-menu-item {
  display: flex;
  align-items: center;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background-color: #350d36;
}
.ant-menu-inline .ant-menu-item {
  margin: 0 !important;
}

.ant-layout-content {
  margin-top: 46px;
  background-color: white;
}
.custom-switch {
  padding-left: 0.25rem !important;
}

/* Chat */
.chat__header {
  margin: 14px 30px;
  display: flex;
  justify-content: space-between;
}
.anticon {
  cursor: pointer;
}
.ant-modal-close-x {
  display: none;
}
.ant-input:focus {
  border-color: #40a9ff;
}

.ant-modal-footer {
  padding: 10px 24px;
}

/* Chat Header */
.ant-layout-content {
  position: relative;
}

/* message */
.message {
  display: flex;
  align-items: center;
  margin: 10px 26px;
}

.message > img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  object-fit: contain;
}
.message__info > p {
  margin: 0;
}
.message__info {
  font-size: 12px;
}
.message__time {
  color: gray;
  font-weight: 300;
  margin-left: 5px;
  font-size: 11px;
}

.noMessage {
  margin: 50px;
  font-size: 60px;
  text-align: center;
  font-style: italic;
  color: gray;
}

/* login */
.login {
  max-width: 500px;
  height: 400px;
  margin: auto;
  margin-top: 90px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* padding: 100px; */
  border-radius: 3px;
  background-color: rgba(211, 211, 211, 0.062);
  display: grid;
  place-items: center;
}
.login__image {
  width: 100px;
}
.login__container {
  text-align: center;
}

.ant-layout-content {
  min-height: 100vh;
}

/* chat input */
.chat {
  min-height: 100vh;
}

.chatInput {
  height: 50px;
  position: fixed;
  bottom: 0px;
  min-width: 83%;
  margin-left: 0;
}
